{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | Urbix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="font-weight-light my-2">Login</h3>
                        <p class="small mb-0">Enter your credentials to continue</p>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            
                            <!-- Error Message -->
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Username or Password is incorrect!
                                </div>
                            {% endif %}

                            <div class="form-floating mb-3">
                                <label for="id_username" class="form-label text-muted small">Username</label>
                                <input type="text" name="username" class="form-control" id="id_username" placeholder="name@example.com" required>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <label for="id_password" class="form-label text-muted small">Password</label>
                                <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
                            </div>

                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary btn-lg" type="submit">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>